{% extends "base_admin.html" %}

{% block innhold %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('adminside') }}">Adminside</a></li>
    <li class="breadcrumb-item active" aria-current="page">Administrer varsler</li>
  </ol>
</nav>

<h3>Administrer varsler</h3>

<div id="varseldiv">
  <!-- Varsler kommer her -->
</div>

<div style="display: flex">
  <button style="margin-right: 10px">Legg til nytt varsel</button>
  <button>Rediger varsler</button>
</div>


{% endblock %}

{% block scripts %}
<script>
    var varsler = {{ varsler | tojson | safe}};
    var resultater = {{ resultater | tojson }};
</script>
<script src="{{ url_for('static', filename='administrer_varsler.js') }}"></script>
{% endblock %}