{% extends "base.html" %}

{% block innhold %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/livetabell">Livetabell</a></li>
      <li class="breadcrumb-item"><a href="/livetabell/{{ klubbnavn }}">{{ klubbnavn }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">1. lag (menn)</li>
    </ol>
</nav>


<div id="beholder" style="display: flex; flex-wrap: wrap-reverse; justify-content: space-evenly; align-items: flex-end;">
    <div id="skygge" style="height: 10px; width: 100px;"></div>
    <div id="tittel" style="align-items: center;">
        <h3 style="text-align: center; padding-top: 20px">{{klubbnavn}} {{lagnummer}}. lag ({{ kjønn }})</h3>
        <div style="text-align: center; align-items: center; color: #444444; margin-bottom: 10px;;">
            <i>{{plassering}}. plass i {{divisjon}}. divisjon</i>
        </div>
    </div>
    <div style="width: 100px">
        {% if klubb_id is not none %}
        <a id="klubblogo" href="/livetabell/{{klubbnavn}}">
        </a>
        {% endif %}
    </div>
</div>


<style>
  #lag-knapper:hover {
      overflow-x: auto !important;
  }
</style>
<div style="display: flex; justify-content: center; height: 50px">
    <div id="lag-knapper" style="display: flex; flex-wrap: nowrap; max-width: 100%; overflow-x: hidden; transition: overflow 0.3s">
        <button id="oppstilling-knapp" style="height: 33px; border-radius: 15px; border: 4px lightgray solid; padding: 0 3vw 0 3vw; background-color: white; margin: 0 1.5vw 0 1.5vw">Oppstilling</button>
        <button id="utøvere-knapp" style="height: 33px; border-radius: 15px; border: 4px lightgray solid; padding: 0 3vw 0 3vw; background-color: rgb(233, 233, 233); margin: 0 1.5vw 0 1.5vw">Utøvere</button>
        <button id="historikk-knapp" style="height: 33px; border-radius: 15px; border: 4px lightgray solid; padding: 0 3vw 0 3vw; background-color: rgb(233, 233, 233); margin: 0 1.5vw 0 1.5vw">Historikk</button>
        <button id="verktøy-knapp" style="height: 33px; border-radius: 15px; border: 4px lightgray solid; padding: 0 3vw 0 3vw; background-color: rgb(233, 233, 233); margin: 0 1.5vw 0 1.5vw">Verktøy</button>
    </div>
</div>

<div style="border: 1px lightgray solid; background-color: white;">
    <div id="oppstilling">
          
        <div style="display: flex;">
            <div id="oppstilling-nå" class="enkeltknapp" style="width: 50%; text-align: center; background-color: white; border: 1px solid #cccccc; cursor: pointer;">Nåværende oppstilling</div>
            <div id="oppstilling-potensial" class="enkeltknapp" style="width: 50%; text-align: center; background-color: #efefef; border: 1px solid #cccccc; cursor: pointer;">Forbedringsforslag</div>
        </div>

        <label style="margin: 12px 0 0 5px">
            <input type="checkbox" id="vis-endringer">
            <span style="font-size: 15px;">
                Vis endringer siste 7 dager
            </span>
        </label>
        <div id="lag-nå" style="display: block;">
            <div>
                <h4 style="color: rgb(61, 61, 61); margin: 20px 0 15px 10%;">Obligatorisk oppstilling</h5>
                <table class="table table-sm lagoppstilling" style="font-size: 0.9rem; table-layout: fixed">
                    <thead class="table-light">
                    <tr>
                        <th style="width: 10%; visibility: hidden; border:none;"></th>
                        <th style="width: 5%"></th>
                        <th style="width: 10%">Poeng</th>
                        <th style="width: 5%"></th>
                        <th style="width: 15%">Øvelse</th>
                        <th style="width: 12%">Resultat</th>
                        <th style="width: 30%">Navn</th>
                        <th style="width: 10%">Født</th>
                        <th style="width: 20%">Sted</th>
                        <th style="width: 12%">Dato</th>
                        <th style="width: 12%; visibility: hidden; border:none;"></th>
                    </tr>
                    </thead>
                    <tbody id="obl-oppstilling-nå">

                    </tbody>
                </table>
            </div>
            <div>
                <h4 style="color: rgb(61, 61, 61); margin: 30px 0 15px 10%;">Valgfri oppstilling</h5>
                <table class="table table-sm lagoppstilling" style="font-size: 0.9rem; table-layout: fixed">
                    <thead class="table-light">
                    <tr>
                        <th style="width: 10%; visibility: hidden; border:none;"></th>
                        <th style="width: 5%"></th>
                        <th style="width: 10%">Poeng</th>
                        <th style="width: 5%"></th>
                        <th style="width: 15%">Øvelse</th>
                        <th style="width: 12%">Resultat</th>
                        <th style="width: 30%">Navn</th>
                        <th style="width: 10%">Født</th>
                        <th style="width: 20%">Sted</th>
                        <th style="width: 12%">Dato</th>
                        <th style="width: 12%; visibility: hidden; border:none;"></th>
                    </tr>
                    </thead>
                    <tbody id="val-oppstilling-nå">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="utøvere" style="background-color: white; display: none">
    </div>

    <div id="historikk" style="background-color: white; display: none; padding: 20px 10px;">
        <table class="table table-sm" style="font-size: 15px">
            <thead class="table-light">
                <tr>
                    <th style="padding-top: 2px; padding-bottom: 2px;"></th>
                    <th style="padding-top: 2px; padding-bottom: 2px;">År</th>
                    <th style="padding-top: 2px; padding-bottom: 2px;">Divisjon</th>
                    <th style="padding-top: 2px; padding-bottom: 2px;">Plassering</th>
                    <th style="padding-top: 2px; padding-bottom: 2px;">Poeng</th>
                    <th style="padding-top: 2px; padding-bottom: 2px;">Krets</th>
                    <th style="padding-top: 2px; padding-bottom: 2px;">Rangering i krets</th>
                </tr>
            </thead>
            <tbody id="tabell-historiske-plasseringer">

            </tbody>
        </table>
    </div>

    <div id="verktøy" style="background-color: white; display: none">
                
        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; width: 100%; row-gap: 3px; margin-top: 3px;">
            <button id="verktøy-sammenlikner-knapp" style="background-color: (233, 233, 233)">
                <i class="bi bi-arrow-left-right"></i>
            </button>
            <button id="verktøy-oppstiller-knapp" style="background-color: (233, 233, 233)">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button id="verktøy-utforsker-knapp" style="background-color: (233, 233, 233)">
                <i class="bi bi-zoom-in"></i>
            </button>
            <button id="verktøy-forbedrer-knapp" style="background-color: (233, 233, 233)">
                <i class="bi bi-clipboard2-data-fill"></i>
            </button>
        </div>
        
        <div id="verktøy-sammenlikner" style="background-color: white; display: none">
            <div class="tekst">
                <h3>Lagsammenlikner</h3>
                Sammenlikn laget mot andre lag. Hvor står laget sterkt og hvor tapes det terreng?
                <br>
                <div style="width: fit-content;">
                    <div style="border: #6c8eBf solid 2px; padding: 5px 20px 5px 5px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="font-size: 14px;">Kjønn:</td>
                                    <td>
                                        <div class="verdifelt">
                                            <div class="sideknapp" id="lagsam-kjønn-venstre1"><</div>
                                            <div class="verdi" id="lagsam-kjønn1">menn</div>
                                            <div class="sideknapp" id="lagsam-kjønn-høyre1">></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px;">Serieår:</td>
                                    <td>
                                        <div class="verdifelt">
                                            <div class="sideknapp" id="lagsam-serieår-venstre1"><</div>
                                            <div class="verdi" id="lagsam-serieår1"></div>
                                            <div class="sideknapp" id="lagsam-serieår-høyre1">></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px;">Klubb:</td>
                                    <td>
                                        <div style="position:relative;">
                                        <input id="klubbInput1" style="padding: 0 10px 0 9px; font-size: 0.9rem; line-height: 1.7; border: 1px solid #ccc" type="text" name="input" autocomplete="off">
                                        <div id="autocompleteList" class="autocomplete-items"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px;">Lagnummer:</td>
                                    <td>
                                        <div class="verdifelt">
                                            <div class="sideknapp" id="lagsam-lag-venstre1"><</div>
                                            <div class="verdi" id="lagsam-lag1">1</div>
                                            <div class="sideknapp" id="lagsam-lag-høyre1">></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="error-message1" style="color: red; display: block; font-size: 14px;"></div>
                </div>
                
                <button id="sammenliknBtn" class="knapp" style="background-color: #3972c8; color: white; border: none; padding: 1px 10px 3px 10px; margin-top: 15px;">Sammenlikn</button>

                <hr>
                <br>
            </div>

            <div id="panel-sammenlikning" style="display: flex; width: 100%;">
            </div>
        </div>

        
        <div id="verktøy-oppstiller" style="background-color: white; display: none">
            <div class="tekst">
                <h3>Lagoppstiller</h3>

                Forslag til oppstilling? Sjekk den her.
            </div>

            <div>
                <div style="width: 100%;">
                    <div id="oppstillingsfeil" style="margin: 5px; padding: 5px; border: 1px gray solid; white-space: pre-line; font-size: 0.9rem;"></div>
                    <div id="poengoppsummering" style="margin: 5px; padding: 5px; background-color: #cedfff; border: 1px gray solid; font-size: 0.9rem; white-space: pre-line"></div>
                    <div id="verifiser-verktøy"></div>
                </div>
                <div style="display: flex">
                    <div style="width: 50%; margin: 5px 5px 5px 0; border: 1px solid transparent;">
                        <h5 style="color: rgb(61, 61, 61); margin: 20px 0 5px 0;">Ubrukte resultater</h5>
                        <label style="margin: 12px 0 0 5px">
                            <input type="checkbox" id="vis-beste-per-øvelse">
                            <span style="font-size: 0.8rem; line-height: 0.8rem;">
                                Vis kun første resultat i hver øvelse
                            </span>
                        </label><br>
                        <label style="margin: 0 0 0 5px">
                            <input type="checkbox" id="vis-fjernede-resultater">
                            <span style="font-size: 0.8rem; line-height: 0.8rem;">
                                Vis fjernede resultater
                            </span>
                        </label>
                        <br>
                        <table style="width: 100%; font-size: 0.8rem; table-layout: fixed; padding: 5px">
                            <thead>
                                <tr>
                                    <th style="width: 1.5%; visibility: hidden;"></th>
                                    <th style="width: 9%">Poeng</th>
                                    <th style="width: 12%">Øvelse</th>
                                    <th style="width: 24%">Navn</th>
                                    <th style="width: 4%"></th>
                                </tr>
                            </thead>
                            <tbody id="verktøy-lag-oppstiller-reserve">
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; border: 1px solid rgba(62, 99, 179, 0.313);">
                        <div style="margin: 5px 5px 5px 0; border: 1px solid transparent;">
                            <h5 style="color: rgb(61, 61, 61); margin: 20px 0 15px 12px;">Obligatorisk oppstilling</h5>
                            <table style="width: 100%; font-size: 0.8rem; table-layout: fixed; padding: 5px">
                                <thead>
                                    <tr>
                                        <th style="width: 1.5%; visibility: hidden;"></th>
                                        <th style="width: 9%">Poeng</th>
                                        <th style="width: 12%">Øvelse</th>
                                        <th style="width: 24%">Navn</th>
                                        <th style="width: 8%"></th>
                                    </tr>
                                </thead>
                                <tbody id="verktøy-lag-oppstiller-obl">
                                </tbody>
                            </table>
                        </div>
                        <div style="margin: 5px 5px 5px 0; border: 1px solid transparent;">
                            <h5 style="color: rgb(61, 61, 61); margin: 30px 0 15px 12px;">Valgfri oppstilling</h5>
                            <table style="width: 100%; font-size: 0.8rem; table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th style="width: 1.5%; visibility: hidden;"></th>
                                        <th style="width: 9%">Poeng</th>
                                        <th style="width: 12%">Øvelse</th>
                                        <th style="width: 24%">Navn</th>
                                        <th style="width: 8%"></th>
                                    </tr>
                                </thead>
                                <tbody id="verktøy-lag-oppstiller-val">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="verktøy-utforsker" style="background-color: white; display: none">
            <div class="tekst">
                <h3>Lagutforsker</h3>
                    
                Utforsk hvordan lagene blir seende ut med nye resultater.
            </div>
            <hr>
            
            <div style="display: flex;">
                <div style="width: 50%; margin-left: 5px; margin-right: 5px;">
                            
                    <div>
                        <h5 style="font-size: 1.05rem; color: #406aa7">Nytt resultat</h5>
                        <div id="boks2" style="border: #6c8eBf solid 2px; padding: 5px 20px 5px 5px; display: flex; align-items: center;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="font-size: 14px;">Utøver:</td>
                                        <td>
                                            <div style="position:relative;">
                                            <input id="utøverInput" style="box-sizing: border-box; max-width: 100%; padding: 0 10px 0 9px; font-size: 0.9rem; line-height: 1.7; border: 1px solid #ccc" type="text" name="input" autocomplete="off">
                                            <div id="autocompleteList" class="autocomplete-items"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px;">Øvelse:</td>
                                        <td>
                                            <div style="position:relative;">
                                            <input id="øvelseInput" style="box-sizing: border-box; padding: 0 10px 0 9px; font-size: 0.9rem; line-height: 1.7; border: 1px solid #ccc;" type="text" name="input" autocomplete="off">
                                            <div id="autocompleteList" class="autocomplete-items"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px;">Poeng:</td>
                                        <td>
                                            <div style="position:relative;">
                                            <input id="poengInput" style="padding: 0 10px 0 9px; font-size: 0.9rem; line-height: 1.7; width: 70px; border: 1px solid #ccc" type="text" name="input" autocomplete="off">
                                            <div id="autocompleteList" class="autocomplete-items"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="error-message2" style="color: red; display: block;"></div>
                        <button id="nytt-resultat-knapp" class="knapp" style="background-color: #53a2cd; font-size: 0.82rem; color: white; border: none; padding: 1px 10px 1px 5px; margin: 5px 0 20px 0;">Legg til</button>
                    </div>

                    <div>
                        <h5 id="mine-resultater-tittel" style="font-size: 1.2rem">Mine resultater (0)</h5>
                        <div style="max-height: 300px;overflow-y: auto; border: 1px lightgray solid; font-size: 0.9rem;">
                            <table id="gridTable" class="table table-sm" style="table-layout: fixed">    
                                <thead id="mitt-lag-header" class="table-light">
                                </thead>
                                <tbody id="mitt-lag">
                                    <!-- Rows will be added here dynamically -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="error-message" style="color: red; display: block;"></div>
                    <button id="utforsker-knapp" class="knapp" style="background-color: gray; color: white; border: none; padding: 1px 10px 3px 10px; margin-top: 15px;">Beregn lag</button>
                    <img src="{{ url_for('static', filename='loading.gif') }}" alt="My Image" id="beregning" style="height:10px; display:none">
                    <hr>

                    <br>
                    <div id="lag" style="display: flex; flex-direction: column; margin-bottom: 20px;">
                        <!-- Lag legges til her -->
                    </div>

                </div>
                <div id="utforsker-lag" style="width: 50%;  margin-left: 5px; margin-right: 5px; border: 1px solid rgba(62, 99, 179, 0.313);">
                </div>
            </div>
        </div>

        
        <div id="verktøy-forbedrer" style="background-color: white; display: none">
            <div class="tekst">
                <h3>Lagforbedrer</h3>

                Undersøk hva som skal til for å forbedre laget.<br>
                <button id="analyser-lagforbedring" class="knapp" style="background-color: #e19e39; color: white; border: none; padding: 1px 10px 3px 10px; margin-top: 15px;">Analyser forbedringer</button>
            </div>
            <hr>

            <div style="display: flex;">
                <div style="width: 50%;">

                    <img src="{{ url_for('static', filename='loading.gif') }}" alt="My Image" id="beregning" style="height:10px; display:none">

                    <div id="analysefelt" style="display: none">
                        <div id="dobbeltfelt">
                            <span style="font-size: 14px;">Trykk på resultatet for å se hvordan laget forbedres.</span>
                            <br>
                            <br>
                            <div style="display: flex">
                                <div id="forbedringer-tabell">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="analyser-lag" style="width: 50%; background-color: #fbfbfb; border: 1px solid rgba(62, 99, 179, 0.313);">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    klubblogo = false
    function toggleRedBox() {
        const container = document.getElementById("beholder");
        const skygge = document.getElementById("skygge");
        const heading = container.querySelector("h3");

        if (!container || !skygge || !heading) return;

        const children = Array.from(container.children);
        const firstRowBottom = children[2].offsetTop;

        const isSplit = children.some(child => child.offsetTop > firstRowBottom);

        if (isSplit) {
            skygge.style.display = "none";
            heading.style.marginLeft = "50px";
            heading.style.marginRight = "50px";
        } else {
            skygge.style.display = "block";
            heading.style.marginLeft = "0";
            heading.style.marginRight = "0";
        }

        if (cached_data["klubblogoer"].includes({{ klubb_id if klubb_id is not none else 'null' }}) && !klubblogo) {
            logo = `${window.location.origin}/static/assets/klubblogo/{{klubb_id}}.png`;
            var img = document.createElement('img');
            img.src = logo;
            img.style.width = "100px"; 
            
            anchor = document.getElementById("klubblogo")
            anchor.appendChild(img)
            
            klubblogo = true
        }
    }

    // Run on load + resize
    document.addEventListener("DOMContentLoaded", toggleRedBox);
    window.addEventListener("load", toggleRedBox);
    window.addEventListener("resize", toggleRedBox);
</script>

<script>
    const klubbnavn = {{ klubbnavn | tojson}};
    const kjønn = {{ kjønn | tojson }};
    const serieår = {{ serieår | tojson }};
    var lagresultater = {{ lagresultater | tojson }};
    var lagforbedringer = {{ lagforbedringer | tojson }};
    const lagnummer = {{ lagnummer | tojson }};
    var laginfo = {{ laginfo | tojson }};
    var historiske_plasseringer = {{ historiske_plasseringer | tojson}}
    var utøverdata = {{ utøverdata | tojson}}
    var klubbresultater = {{ klubbresultater | tojson }};
    var krav = {{ krav | tojson }};

    ikoner = ["sprint", "løp", "kappgang", "hekk", "lengde", "tresteg", "høyde", "stav", "lut", "hut", "kule", "spyd", "slegge", "diskos"];
    
    var øvelsesikoner = {};
    ikoner.forEach(øvelse => {
        øvelsesikoner[øvelse] = `${window.location.origin}/static/assets/øvelser/${øvelse}.png`;
    });

</script>

<script src="{{ url_for('static', filename='lag.js') }}"></script>
<script src="{{ url_for('static', filename='lag-sammenlikner.js') }}"></script>
<script src="{{ url_for('static', filename='lag-forbedrer.js') }}"></script>
<script src="{{ url_for('static', filename='lag-utforsker.js') }}"></script>
<script src="{{ url_for('static', filename='lag-oppstiller.js') }}"></script>
{% endblock %}