{% extends "base.html" %}

{% block innhold %}
<div class="tekst">
  <h3>Skjema for tilbakemelding</h2>
  Bruk dette skjema hvis du har innspill eller spørsmål. Alternativt kan du sende oss epost direkte.
</div>

<div class="card p-2 m-3" style="background-color: #e9e9e9;">
  <div class="card-body">
    <h5 class="card-title">Tilbakemeldingskjema</h5>
    <hr>
    <div class="form-horizontal">
      <form method="POST" action="/om_serien/skjema/send_svar">
      <div class="form-group my-4">
          <label for="innsender_email">Epostadresse (valgfritt)</label>
          <input id="innsender_email" name="innsender_email" type="email" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small class="form-text text-muted">Vi trenger eposten hvis vi skal svare deg.</small>
      </div>
      <div class="form-group my-3">
          <label for="tittel">Kort tittel</label>
          <input id="tittel" name="tittel" type="text" class="form-control my-2"  placeholder="...">
      </div>
      <div class="form-group my-3">
          <label for="tilbakemelding">Tilbakemelding</label>
          <textarea id="tilbakemelding" name="tilbakemelding" class="form-control my-2" rows="3" placeholder="..."></textarea>
      </div>
      <button id="send_svar" type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% if feilet %}
  <div onclick="this.style.display='none'" style="display: flex;  justify-content: space-between; background-color: rgb(255, 206, 198); color: rgb(90, 63, 73); border-radius: 7px; padding: 5px 0 5px 20px; border: 1px lightgray solid; cursor: pointer;">
    <div>
      <i class="bi bi-slash-circle" style="padding-right: 5px;"></i>
      {{feilmelding}}
    </div>
    <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-right: 8px;">
      <i class="bi bi-x-lg" style="font-size: 12px;"></i>
    </div>
  </div>
{% endif %}

<script src="{{ url_for('static', filename='skjema.js') }}"></script>

{% endblock %}