flask==3.0.3
waitress==3.0.0
pytest==8.1.1
SQLAlchemy==2.0.31
bs4==0.0.1
lxml==4.9.3
requests==2.27.1
sortedcontainers==2.4.0
psycopg2==2.9.9
supabase==0.7.1
selenium==4.1.0
webdriver-manager==4.0.2
pytz==2022.1
xlsxwriter==3.2.5
RapidFuzz==3.13.0