.verktøy-knapp {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blåkantet {
    border-color:#6c8eBf;
}

.verktøy-ikon {
    width: 95px;
    height: 95px;
}