name: Kjør stevnekontroll
on:
  workflow_dispatch:
jobs:
  kjor-stevnekontroll:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      LAGSERIEN_DB_PSW: ${{ secrets.LAGSERIEN_DB_PSW }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installer avhengigheter
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Kjører pythonscript
        run: python bin/kjør_stevnekontroll.py ${{ secrets.LAGSERIEN_SERIEAR }}